{% if seo_noindex and pagename != "search" %}
<meta name="robots" content="noindex, follow">
{% endif %}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-500L5F0NQM"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-500L5F0NQM');
</script>

<!-- Dify chatbot -->
<script>
  window.difyChatbotConfig = {
    token: '5VDR2dMb8feULabd',
    baseUrl: 'https://agent.lovemcu.cn',
    inputs: {},
    systemVariables: {},
    userVariables: {}
  };
</script>
<script
  src="https://agent.lovemcu.cn/embed.min.js"
  id="5VDR2dMb8feULabd"
  defer>
</script>
<style>
  #dify-chatbot-bubble-button {
    background-color: #1c64f2 !important;
  }

  #dify-chatbot-bubble-window {
    width: 24rem !important;
    height: 40rem !important;
  }

  @media (max-width: 640px) {
    #dify-chatbot-bubble-window {
      width: calc(100vw - 2rem) !important;
      height: calc(100vh - 6rem) !important;
    }
  }
</style>
