name: Build and Upload Documentation

on:
  push:
    branches:
      - main
      - en
  workflow_dispatch:  # 允许手动触发

jobs:
  build-docs:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout main branch (Chinese)
        uses: actions/checkout@v4
        with:
          ref: main
          path: main-repo

      - name: Checkout en branch (English)
        uses: actions/checkout@v4
        with:
          ref: en
          path: en-repo

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'
          cache: 'pip'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          if [ -f main-repo/requirements.txt ]; then pip install -r main-repo/requirements.txt; fi

      - name: Build Chinese documentation
        run: |
          cd main-repo
          sphinx-build -b html ./source ./build -E

      - name: Build English documentation
        run: |
          cd en-repo
          sphinx-build -b html ./source ./build -E

      - name: Merge English docs into Chinese
        run: |
          # 将英文版本复制到中文版本的 en 目录
          mkdir -p main-repo/build/en
          cp -r en-repo/build/* main-repo/build/en/
          # 切换到 main-repo 目录进行后续操作
          cd main-repo
      

      - name: Archive documentation
        uses: actions/upload-artifact@v4
        with:
          name: wiki
          path: |
            main-repo/build
          retention-days: 7
      
      - name: Sync Mirror
        uses: OpenSiFli/SiFliMirrorSync@v1
        with:
          secret_id: ${{ secrets.COS_DOCS_SECRET_ID }}
          secret_key: ${{ secrets.COS_DOCS_SECRET_KEY }}
          bucket: ${{ secrets.COS_DOCS_BUCKET }}
          region: ${{ secrets.COS_DOCS_REGION }}
          artifacts: "./**"
          working_directory: "./build/"
          prefix: "/"
          delete_remote: true
          flush_url: "https://wiki.sifli.com/"
